* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.banner {
  background-image: url("../src/banner_img.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 224px 0 127px;
  position: relative;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .banner {
    padding: 257px 0 126px;
  }
}
@media (max-width: 767px) {
  .banner {
    padding: 106px 0 52px;
  }
}
.banner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #252B49;
  opacity: 0.8;
}
.banner__container {
  position: relative;
  text-align: center;
}
.banner__title {
  text-transform: uppercase;
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
}
@media (max-width: 1024px) {
  .banner__title {
    margin-bottom: 62px;
    font-size: 48px;
    line-height: 56px;
    font-weight: 900;
  }
}
@media (max-width: 767px) {
  .banner__title {
    margin-bottom: 41px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
  }
}
.banner__text {
  margin-bottom: 80px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .banner__text {
    margin-bottom: 89px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .banner__text {
    margin-bottom: 59px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
.banner .btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  max-width: 370px;
  width: 100%;
  background: #FF4343;
  padding: 25px;
  border: none;
  color: #FFFFFF;
  transition: all ease 0.3s;
  font-size: 24px;
  line-height: 30px;
  font-weight: 900;
}
.banner .btn:hover {
  background: #E71414;
}
.banner .btn:active {
  background: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
}
@media (max-width: 1024px) {
  .banner .btn {
    max-width: 314px;
  }
}
@media (max-width: 767px) {
  .banner .btn {
    max-width: 280px;
    padding: 15px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
  }
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 38px 0 36px;
  border-bottom: 1px solid #BABBC5;
}
@media (max-width: 1024px) {
  .header {
    padding: 37px 0;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 19px 0;
    border: none;
  }
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  max-width: 184px;
  display: flex;
}
@media (max-width: 1024px) {
  .header__logo {
    max-width: 180px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    max-width: 109px;
  }
}
.header__logo-img {
  width: 100%;
}
.header__menu {
  display: none;
  background: transparent;
  width: 24px;
  height: 18px;
  border: none;
}
@media (max-width: 767px) {
  .header__menu {
    display: flex;
  }
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: flex;
  gap: 40px;
  list-style: none;
}
@media (max-width: 1024px) {
  .nav__list {
    gap: 25px;
  }
}
.nav__link {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
}
.nav__link:hover {
  color: #BABBC5;
}
.nav__link:active {
  color: #E71414;
}
@media (max-width: 1024px) {
  .nav__link {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
  }
}

.features {
  padding-top: 116px;
  padding-bottom: 116px;
}
@media (max-width: 1024px) {
  .features {
    padding-top: 79px;
    padding-bottom: 79px;
  }
}
@media (max-width: 767px) {
  .features {
    padding: 40px 0 35px;
  }
}
.features__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 88px 29px;
}
@media (max-width: 1024px) {
  .features__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
  }
}
@media (max-width: 767px) {
  .features__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 42px 0;
  }
}
.features__content {
  text-align: center;
}
.features__wrapper-icon {
  margin: 0 auto 51px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .features__wrapper-icon {
    width: 85px;
    height: 85px;
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .features__wrapper-icon {
    width: 76px;
    height: 76px;
    margin-bottom: 37px;
  }
}
.features__title {
  color: #2D3033;
  text-transform: uppercase;
  margin-bottom: 42px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
}
@media (max-width: 1024px) {
  .features__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .features__title {
    margin-bottom: 9px;
  }
}
.features__text {
  color: #6C7279;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .features__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}

.works__container {
  max-width: 2560px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}
@media (max-width: 767px) {
  .works__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
  }
}

.work {
  aspect-ratio: 380/340;
  position: relative;
  overflow: hidden;
  cursor: auto;
}
.work:hover .work__img {
  transform: scale(1.1);
}
.work:hover .work__content {
  opacity: 1;
  background-color: rgba(255, 67, 67, 0.8);
}
.work:active .work__content {
  background-color: rgba(185, 12, 12, 0.8);
  transform: scale(1.1);
}
.work__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.4s ease;
}
.work__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
  opacity: 0;
  z-index: 1;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .work__content {
    padding: 5px;
  }
}
.work__title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  margin-bottom: 37px;
}
@media (max-width: 1024px) {
  .work__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    margin-bottom: 23px;
  }
}
@media (max-width: 767px) {
  .work__title {
    margin-bottom: 7px;
  }
}
.work__text {
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .work__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}

.team {
  padding-top: 114px;
  padding-bottom: 114px;
}
@media (max-width: 1024px) {
  .team {
    padding-top: 78px;
    padding-bottom: 78px;
  }
}
@media (max-width: 767px) {
  .team {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.team__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media (max-width: 1024px) {
  .team__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }
}
@media (max-width: 767px) {
  .team__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}
.team__photo {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .team__photo {
    margin-bottom: 25px;
  }
}
.team__photo-special {
  object-position: bottom;
}
.team__info {
  text-align: left;
}
.team__name {
  color: #2D3033;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .team__name {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
  }
}
.team__position {
  color: #FF4343;
  text-transform: uppercase;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .team__position {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
.team__description {
  color: #6C7279;
  margin-bottom: 38px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .team__description {
    margin-bottom: 39px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .team__description {
    margin-bottom: 55px;
  }
}
.team__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  list-style: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .team__socials {
    gap: 5px;
  }
}
.team__link {
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  color: #C6CBCD;
}
.team__link:hover {
  border-color: #FF4343;
}
.team__link:active {
  color: #FF4343;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .team__link {
    width: 33px;
    height: 33px;
  }
}
.team__link-icon {
  fill: currentColor;
}

.testimonials__swiper {
  padding: 0 0 45px;
}
@media (max-width: 1024px) {
  .testimonials__swiper {
    padding: 0 0 34px;
  }
}
.testimonials__swiper .swiper-pagination {
  bottom: 0;
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

#testimonials .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #7E5D6F;
  background-color: transparent;
  margin: 0;
  opacity: 1;
}
@media (max-width: 1024px) {
  #testimonials .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
#testimonials .swiper-pagination-bullet-active {
  background-color: #7E5D6F;
}

.testimonial {
  background-color: #5C3249;
  padding: 0 20px;
  display: flex;
  gap: 31px;
  padding: 0 20px;
}
@media (max-width: 1024px) {
  .testimonial {
    gap: 19px;
  }
}
@media (max-width: 767px) {
  .testimonial {
    flex-direction: column;
    gap: 25px;
  }
}
.testimonial__wrapper-image {
  display: flex;
  flex: 0 1 50%;
  aspect-ratio: 570/490;
}
@media (max-width: 1024px) {
  .testimonial__wrapper-image {
    aspect-ratio: 482/332;
  }
}
@media (max-width: 767px) {
  .testimonial__wrapper-image {
    aspect-ratio: 280/218;
  }
}
.testimonial__image {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.testimonial__content {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  color: #FFFFFF;
  padding-top: 116px;
  padding-bottom: 116px;
}
@media (max-width: 1024px) {
  .testimonial__content {
    padding: 110px 0 104px;
  }
}
@media (max-width: 767px) {
  .testimonial__content {
    padding: 0 0 95px;
    text-align: center;
  }
}
.testimonial__text {
  font-family: "Cardo", italic;
  font-style: italic;
  text-transform: capitalize;
  margin-bottom: 34px;
  font-size: 36px;
  line-height: 49px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .testimonial__text {
    margin-bottom: 9px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }
}
.testimonial__author {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .testimonial__author {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
  }
}

.download {
  padding: 132px 0 114px;
  text-align: center;
}
@media (max-width: 1024px) {
  .download {
    padding: 94px 0 78px;
  }
}
@media (max-width: 767px) {
  .download {
    padding: 65px 0 45px;
  }
}
.download__title {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 22px;
}
@media (max-width: 1024px) {
  .download__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 21px;
  }
}
@media (max-width: 767px) {
  .download__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 11px;
  }
}
.download__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .download__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 46px;
  }
}
@media (max-width: 767px) {
  .download__text {
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    margin-bottom: 14px;
  }
}
.download__button {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  max-width: 370px;
  width: 100%;
  background: #FF4343;
  padding: 25px;
  border: none;
  color: #FFFFFF;
  transition: all ease 0.3s;
}
.download__button:hover {
  background: #E71414;
}
.download__button:active {
  background: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
}
@media (max-width: 1024px) {
  .download__button {
    max-width: 313px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    padding: 28px;
  }
}
@media (max-width: 767px) {
  .download__button {
    max-width: 280px;
  }
}

.footer {
  padding-top: 71px;
  background-color: #353C65;
  text-align: center;
}
@media (max-width: 1024px) {
  .footer {
    padding-top: 47px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-top: 34px;
  }
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-bottom: 67px;
}
@media (max-width: 1024px) {
  .footer__container {
    gap: 20px;
    padding-bottom: 41px;
  }
}
@media (max-width: 767px) {
  .footer__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 64px;
    padding-bottom: 38px;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}
.footer__title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 29px;
}
@media (max-width: 1024px) {
  .footer__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 18px;
  }
}
@media (max-width: 767px) {
  .footer__title {
    margin-bottom: 34px;
  }
}
.footer__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .footer__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  list-style: none;
  margin-top: 19px;
}
@media (max-width: 1024px) {
  .footer__socials {
    gap: 20px;
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .footer__socials {
    gap: 16px;
    margin-top: 3px;
  }
}
.footer__link {
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  color: #C6CBCD;
}
.footer__link:hover {
  border-color: #FF4343;
}
.footer__link:active {
  color: #FF4343;
}
@media (max-width: 1024px) {
  .footer__link {
    width: 33px;
    height: 33px;
  }
}
.footer__link-icon {
  fill: currentColor;
}

.copy {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #2C3154;
}
@media (max-width: 1024px) {
  .copy {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
@media (max-width: 767px) {
  .copy {
    padding: 30px 0 28px;
  }
}
.copy__container {
  max-width: 410px;
  margin: 0 auto;
  padding: 0 20px;
}
.copy__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #808080;
}
@media (max-width: 1024px) {
  .copy__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
.copy__text-white {
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
