$main-font: 'Raleway', sans-serif;

@mixin font($fontSize, $lineHeight, $fontWeight) {
	font-size: $fontSize;
	line-height: $lineHeight;
	font-weight: $fontWeight;
}
@mixin background($bgImage: none, $bgSize: cover, $bgPosition: center, $bgRepeat: no-repeat) {
	background-image: url($bgImage);
	background-size: $bgSize;
	background-position: $bgPosition;
	background-repeat: $bgRepeat;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
	font-family: $main-font;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.banner{
	@include background('../src/banner_img.webp', cover, center, no-repeat);
	padding: 230px 0 126px;
	position: relative;

	&::before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #252B49;
	}
}

.header{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 38px 0 36px;
	border-bottom: 1px solid #BABBC5
}
