$main-font: 'Raleway', sans-serif;
$extra-font: 'Cardo', sans-serif;

$main-color: #FFFFFF;
$color-black: #2D3033;
$color-grey: #6C7279;
$color-red: #FF4343;
$color-bg: #252B49;

$tablet: 1024px;
$mobile: 767px;

@mixin responsive($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin font($fontSize, $lineHeight, $fontWeight: 400) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

@mixin background($bgImage: none, $bgSize: cover, $bgPosition: center, $bgRepeat: no-repeat) {
  background-image: url($bgImage);
  background-size: $bgSize;
  background-position: $bgPosition;
  background-repeat: $bgRepeat;
}

@mixin container($maxWidth, $margin, $padding){
  max-width: $maxWidth;
  margin: $margin;
  padding: $padding;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  font-family: $main-font;
}

.container{
  @include container(1200px, 0 auto, 0 15px);
}

.features{
  padding: 110px 0 116px;

  &__content{
    display: grid;

  }
}